<div class="col-md-9" ng-controller="AdminRecipeController">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="women">
                Manage Recipes
            </li>
        </ul>
        <ul class="previous">
            <li><a href="#/home">Back to Previous Page</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="cbp-vm-view-grid">
        <ul>
            <li>
                <a class="cbp-vm-image" href="#/recipe">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="images/pic1.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">Chocolate Martini</p>
                                </div>
                                <br/>
                                <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="button cbp-vm-add" href="#/recipe_edit">Edit</a>
                <a class="button cbp-vm-add" href="#/admin_recipe">Delete</a>
            </li>
            <li>
                <a class="cbp-vm-image" href="#/recipe">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="images/pic2.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">Cinnamon Mojito</p>
                                </div>
                                <br/>
                                <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="button cbp-vm-add" href="#/recipe_edit">Edit</a>
                <a class="button cbp-vm-add" href="#/admin_recipe">Delete</a>
            </li>
            <li>
                <a class="cbp-vm-image" href="#/recipe">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="images/pic3.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">Ginger Black Spiced</p>
                                </div>
                                <br/>
                                <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="button cbp-vm-add" href="#/recipe_edit">Edit</a>
                <a class="button cbp-vm-add" href="#/admin_recipe">Delete</a>
            </li>
            <li>
                <a class="cbp-vm-image" href="#/recipe">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="images/pic4.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">Puquena Colada</p>
                                </div>
                                <br/>
                                <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="button cbp-vm-add" href="#/recipe_edit">Edit</a>
                <a class="button cbp-vm-add" href="#/admin_recipe">Delete</a>
            </li>
            <li>
                <a class="cbp-vm-image" href="#/recipe">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="images/pic5.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">Sunday Funday</p>
                                </div>
                                <br/>
                                <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="button cbp-vm-add" href="#/recipe_edit">Edit</a>
                <a class="button cbp-vm-add" href="#/admin_recipe">Delete</a>
            </li>
            <li>
                <a class="cbp-vm-image" href="#/recipe">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="images/pic6.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">Naked Cosmo</p>
                                </div>
                                <br/>
                                <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="button cbp-vm-add" href="#/recipe_edit">Edit</a>
                <a class="button cbp-vm-add" href="#/admin_recipe">Delete</a>
            </li>
            <li>
                <a class="cbp-vm-image" href="#/recipe">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="images/pic7.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">Razz Sangria</p>
                                </div>
                                <br/>
                                <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="button cbp-vm-add" href="#/recipe_edit">Edit</a>
                <a class="button cbp-vm-add" href="#/admin_recipe">Delete</a>
            </li>
            <li>
                <a class="cbp-vm-image" href="#/recipe">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="images/pic8.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">Peach Tea</p>
                                </div>
                                <br/>
                                <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="button cbp-vm-add" href="#/recipe_edit">Edit</a>
                <a class="button cbp-vm-add" href="#/admin_recipe">Delete</a>
            </li>
            <li>
                <a class="cbp-vm-image" href="#/recipe">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="images/pic9.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">Long Island Ice Tea</p>
                                </div>
                                <br/>
                                <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="button cbp-vm-add" href="#/recipe_edit">Edit</a>
                <a class="button cbp-vm-add" href="#/admin_recipe">Delete</a>
            </li>
        </ul>
    </div>
</div>
