<div class="col-xs-12 col-md-9 cart-items" ng-controller="AdminUserController">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="women">
                Manage Users
            </li>
        </ul>
        <ul class="previous">
            <li><a href="#/home">Back to Previous Page</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <h1>Users</h1>
    <div class="cart-header" ng-repeat="user in model.users">
        <a class="button close1" ng-click="model.deleteUser(user)">Delete</a>
        <a class="button update" data-toggle="modal" data-target="#myModal"
           ng-click="model.setModalUser(user)">Change</a>
        <div class="cart-sec simpleCart_shelfItem">
            <div class="cart-item cyc">
                <img ng-show="user.photo != null && user.photo != undefined"
                     ng-src="{{user.photo}}" class="img-responsive" alt="">
                <img ng-show="user.photo == null || user.photo == undefined"
                     ng-src="./images/head.jpg" class="img-responsive" alt="">
            </div>
            <div class="cart-item-info">
                <h3><a href="#/profile_public/{{user._id}}">{{user.username}}</a></h3>
                <div class="delivery">
                    <p>Password: {{user.password}}</p>
                    <P>Status: {{user.roles.join('|')}}</P>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit User: {{model.modalUser.username}}</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Password:</label>
                            <br/>
                            <input type="text" class="form-control" placeholder="password"
                                   ng-model="model.modalUser.password" empty-to-null/>
                        </div>
                        <div class="form-group">
                            <label >Status:</label>
                            <br/>
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="model.checkboxes.admin">admin</label>
                                <label><input type="checkbox" ng-model="model.checkboxes.user">user</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" data-dismiss="modal" ng-click="model.cleanModalUser()"
                                    class="btn btn-default btn-block btn-info">Cancel</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" data-dismiss="modal" ng-click="model.updateUser(model.modalUser)"
                                    class="btn btn-default btn-block btn-info">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>