<div class="main" ng-controller="LoginController">
    <div class="content_box">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="menu_box">
                        <h3 class="menu_head">Menu</h3>
                        <ul class="nav">
                            <li><a data-toggle="collapse" data-target="#acrdn1">Liquor</a></li>
                            <div id="acrdn1" class="collapse">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Beer</label>
                                    <label><input type="checkbox" value="">Bourbon</label>
                                    <label><input type="checkbox" value="">Whisky</label>
                                    <label><input type="checkbox" value="">Champagne</label>
                                    <label><input type="checkbox" value="">Cognac</label>
                                    <label><input type="checkbox" value="">Cordials</label>
                                    <label><input type="checkbox" value="">Gin</label>
                                    <label><input type="checkbox" value="">Rum</label>
                                    <label><input type="checkbox" value="">Rye</label>
                                    <label><input type="checkbox" value="">Sparkling</label>
                                    <label><input type="checkbox" value="">Tequila</label>
                                    <label><input type="checkbox" value="">Vermouth</label>
                                    <label><input type="checkbox" value="">Vodka</label>
                                    <label><input type="checkbox" value="">Wine</label>
                                </div>
                            </div>
                            <li><a data-toggle="collapse" data-target="#acrdn2">Flavor</a></li>
                            <div id="acrdn2" class="collapse">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Frozen</label>
                                    <label><input type="checkbox" value="">Fruity</label>
                                    <label><input type="checkbox" value="">Hot</label>
                                    <label><input type="checkbox" value="">Savory</label>
                                    <label><input type="checkbox" value="">Sour</label>
                                    <label><input type="checkbox" value="">Spicy</label>
                                    <label><input type="checkbox" value="">Sweet</label>
                                </div>
                            </div>
                            <li><a data-toggle="collapse" data-target="#acrdn3">Skill Level</a></li>
                            <div id="acrdn3" class="collapse">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Beginner</label>
                                    <label><input type="checkbox" value="">Intermediate</label>
                                    <label><input type="checkbox" value="">Advanced</label>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="dreamcrub">
                        <ul class="breadcrumbs">
                            <li class="home">
                                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                                <span>&gt;</span>
                            </li>
                            <li class="women">
                                Login
                            </li>
                        </ul>
                        <ul class="previous">
                            <li><a href="#/home">Back to Previous Page</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="account_grid">
                        <div class="col-md-6 login-left">
                            <h3>NEW CUSTOMERS</h3>
                            <p>By creating an account, you will be able to share your<br/>amazing recipe with others. <br/>Start from here!</p>
                            <a class="acount-btn" href="#/register">Create an Account</a>
                        </div>
                        <div class="col-md-6 login-right">
                            <h3>REGISTERED CUSTOMERS</h3>
                            <p>If you have an account with us,  please log in.</p>
                            <form>
                                <div>
                                    <span>Username<label>*</label></span>
                                    <input type="text">
                                </div>
                                <div>
                                    <span>Password<label>*</label></span>
                                    <input type="text">
                                </div>
                                <a type="login" href="#/profile_info">Login</a>
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>