<div class="main" ng-controller="InfoController">
    <div class="content_box">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="menu_box">
                        <h3 class="menu_head">Menu</h3>
                        <ul class="nav">
                            <li class="active"><a href="#/profile_info">Profile</a></li>
                            <li><a href="#/profile_myrecipe">My Recipe</a></li>
                            <li><a href="#/profile_reviewed">Reviewed</a></li>
                            <li><a href="#/profile_favorite">Favorite</a></li>
                            <li><a href="#/profile_following">Following</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="register">
                        <form>
                            <div class="register-top-grid">
                                <h3>PERSONAL INFORMATION</h3>
                                <div>
                                    <span>First Name<label>*</label></span>
                                    <input type="text">
                                </div>
                                <div>
                                    <span>Last Name<label>*</label></span>
                                    <input type="text">
                                </div>
                                <div>
                                    <span>Username<label>*</label></span>
                                    <input type="text">
                                </div>
                                <div>
                                    <span>Email Address<label>*</label></span>
                                    <input type="text">
                                </div>
                                <div>
                                    <span>Birthday</span>
                                    <input type="date">
                                </div>
                                <div>
                                    <span>Gender</span>
                                    <div class="radio">
                                        <label for="radioMale">
                                            <input type="radio" name="radioLicense" id="radioMale" value="Male" checked>
                                            Male
                                        </label>
                                        <label for="radioFemale">
                                            <input type="radio" name="radioLicense" id="radioFemale" value="Female">
                                            Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="register-bottom-grid">
                                <h3>LOGIN INFORMATION</h3>
                                <div>
                                    <span>Password<label>*</label></span>
                                    <input type="text">
                                </div>
                            </div>
                        </form>
                        <div class="clearfix"> </div>
                        <div class="register-but">
                            <form>
                                <a type="submit" href="#/profile_info">Update</a>
                                <div class="clearfix"> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>