<div class="main" ng-controller="FollowingController">
    <div class="content_box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="menu_box">
                        <h3 class="menu_head">Menu</h3>
                        <ul class="nav">
                            <li><a href="#/profile_info">Profile</a></li>
                            <li><a href="#/_profile_myrecipe">My Recipe</a></li>
                            <li><a href="#/profile_reviewed">Reviewed</a></li>
                            <li><a href="#/profile_favorite">Favorite</a></li>
                            <li class="active"><a href="#/profile_following">Following</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-9 cart-items">
                    <div class="dreamcrub">
                        <ul class="breadcrumbs">
                            <li class="home">
                                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                                <span>&gt;</span>
                            </li>
                            <li class="home">
                                <a href="#/profile_info" title="Go to Home Page">Profile</a>&nbsp;
                                <span>&gt;</span>
                            </li>
                            <li class="women">
                                Following
                            </li>
                        </ul>
                        <ul class="previous">
                            <li><a href="#/profile_info">Back to Previous Page</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <h1>Recipe Reviewed</h1>
                    <div class="cart-header">
                        <a class="button close1" href="#/profile_following">Delete</a>
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img src="images/pic10.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="cart-item-info">
                                <h3><a href="#/profile_info">Marc Jacobs</a><span>level: 1</span></h3>
                                <div class="delivery">
                                    <p>Recipe: 10</p>
                                    <p>Followed by: 32</p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="cart-header">
                        <a class="button close1" href="#/profile_following">Delete</a>
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img src="images/pic11.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="cart-item-info">
                                <h3><a href="#/profile_info">Coco Chanel</a><span>level: 5</span></h3>
                                <div class="delivery">
                                    <p>Recipe: 16</p>
                                    <p>Followed by: 45</p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>