<div class="col-md-9" ng-controller="RecipeController">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="women">
                Current Recipe
            </li>
        </ul>
        <ul class="previous">
            <li><a href="#/home">Back to Previous Page</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="singel_right">
        <div class="labout span_1_of_a1">
            <div class="flexslider">
                <br>
                <!-- Carousel -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" ng-repeat="imgIndex in model.imgIndexes"
                            ng-class="{active: (imgIndex == 0)}" data-slide-to="{{imgIndex}}"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div ng-class="{item: true, active: (imgIndex == 0)}"
                             ng-repeat="imgIndex in model.imgIndexes">
                            <img ng-src={{model.recipe.recipeImg[imgIndex]}} alt="Slide number {{imgIndex}}">
                            <div class="container">
                                <div class="carousel-caption"></div>
                            </div>
                        </div>
                    </div>
                <!-- /.carousel -->
            </div>
        </div>
            </div>
        <div class="cont1 span_2_of_a1 simpleCart_shelfItem">
            <div class="row">
            <h1>{{model.recipe.title}}
                <a ng-hide="model.cannotAddToFavorite()"
                   ng-click="model.addRecipeToFavorite(model.currUser._id, model.recipeId)">
                    <span class="favorite-icon glyphicon glyphicon-heart-empty"
                          aria-hidden="true">{{model.recipe.likeBy.length}}</span>
                </a>
                <a ng-show="model.canDeleteFromFavorite()"
                   ng-click="model.deleteRecipeFromFavorite(model.currUser._id, model.recipeId)">
                    <span class="favorite-icon glyphicon glyphicon-heart"
                          aria-hidden="true">{{model.recipe.likeBy.length}}</span>
                </a>
            </h1>
            </div>
            <ul class="rating">
                <img class="img-rating" ng-src={{model.recipe.rateImg}}>
                <li><a id="list1" scroll-to-item scroll-to="#currComments">{{model.comments.length}} Review(s)</a></li>
                <li><a id="list2" scroll-to-item scroll-to="#postComment">Add Review</a></li>
                <li ng-show="model.isAuthor(model.recipeAuthor._id)"><a href="#/recipe_edit">Edit Recipe</a></li>
                <div class="clearfix"></div>
            </ul>
            <br/>
            <h2 class="quick">Quick Overview:</h2>
            <p class="quick_desc">{{model.recipe.overview}}</p>
            <ul class="size">
                <li>Base: {{model.recipe.tag1.join(",")}}</li>
                <li>Flavor: {{model.recipe.tag2.join(",")}}</li>
                <li>Skill Level: {{model.recipe.tag3}}</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="sap_tabs">
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Ingredients</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Steps</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Reviews</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span>Author</span></li>
                <div class="clear"></div>
            </ul>
            <div class="resp-tabs-container">
                <!-- Tab 1 : Ingredients -->
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                    <div class="facts">
                        <ul class="tab_list">
                            <li ng-repeat="liquor in model.recipe.ingredientSpirit"><p>{{liquor}}</p><a href="#/search" class="api-btn">Where to Buy</a></li>
                            <li ng-repeat="other in model.recipe.ingredientOther"><p>{{other}}</p></li>
                        </ul>
                    </div>
                </div>
                <!-- Tab 2 : Steps -->
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                    <div class="facts">
                        <ul class="tab_list">
                            <li ng-repeat="step in model.recipe.step"><p>{{step}}</p></li>
                        </ul>
                    </div>
                </div>
                <!-- Tab 3 : Comments -->
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                    <ul class="tab_list">
                        <p ng-hide="model.comments.length > 0">There is no review yet. You can post the first review!</p>
                        <div id="currComments" class="cart-header" ng-repeat="comment in model.comments">
                            <a class="button close1" ng-show="model.isAdminOrAuthor(comment.author._id)"
                               ng-click="model.deleteComment(comment)">Delete</a>
                            <a class="button update"
                               ng-show="model.isAuthor(comment.author._id)"
                               data-toggle="modal" data-target="#changeReviewModal"
                               ng-click="model.setCurrComment(comment)">Change</a>
                            <div class="cart-sec simpleCart_shelfItem">
                                <div class="cart-item cyc">
                                    <img ng-src={{comment.author.photo}} class="img-responsive" alt="">
                                </div>
                                <div class="cart-item-info">
                                    <h3><a href="#/profile_public/{{comment.author._id}}">{{comment.author.username}}</a></h3>
                                    <ul class="qty">
                                        <p>Recipe: {{comment.author.recipeNumber}}</p>
                                        <p>Followed by: {{comment.author.followBy.length}}</p>
                                    </ul>
                                    <img ng-src={{comment.rateImg}} class="img-rating">
                                    <br/>
                                    <div class="delivery">
                                        <p>{{comment.title}}</p>
                                        <p>{{comment.content}}</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <hr>
                        <div id="postComment" class="cart-header">
                            <div class="cart-sec simpleCart_shelfItem">
                                <div class="cart-item cyc" ng-show = "model.isLoggedIn()">
                                    <img ng-src={{model.currUser.photo}} class="img-responsive" />
                                </div>
                                <div class="cart-item-info" ng-show = "model.isLoggedIn()">
                                    <a class="button close1" ng-click="model.postComment(model.newComment)">Post</a>
                                    <input type="text" placeholder="title"
                                           ng-model="model.newComment.title" empty-to-null />
                                    <br/>
                                    <span class="star-rating">
                                        <input type="radio" ng-model="model.newComment.rating" value="1"><i></i>
                                        <input type="radio" ng-model="model.newComment.rating" value="2"><i></i>
                                        <input type="radio" ng-model="model.newComment.rating" value="3"><i></i>
                                        <input type="radio" ng-model="model.newComment.rating" value="4"><i></i>
                                        <input type="radio" ng-model="model.newComment.rating" value="5"><i></i>
                                    </span>
                                    <br/>
                                    <div class="delivery">
                                        <textarea rows="5" placeholder="Comments..."
                                                  ng-model="model.newComment.content" empty-to-null></textarea>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="cart-item-info" ng-hide = "model.isLoggedIn()">
                                    <p>You are guest. How about <a href="#/register">register</a> or <a href="#/login">login</a> to post a review on this recipe!</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </ul>
                </div>
                <!-- Tab 4 : Author -->
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
                    <ul class="tab_list">
                        <div class="cart-header">
                            <a class="button close1" ng-hide="model.cannotFollow()"
                               ng-click="model.followRecipeAuthor(model.currUser._id, model.recipe.userId)">Follow !!!</a>
                            <a class="button close1" ng-show="model.canUnfollow()"
                               ng-click="model.unfollowRecipeAuthor(model.currUser._id, model.recipe.userId)">Unfollow</a>
                            <div class="cart-sec simpleCart_shelfItem">
                                <div class="cart-item cyc">
                                    <img ng-src={{model.recipeAuthor.photo}} class="img-responsive" alt="">
                                </div>
                                <div class="cart-item-info">
                                    <h3><a href="#/profile_public/{{model.recipeAuthor._id}}">{{model.recipeAuthor.username}}</a></h3>
                                    <div class="delivery">
                                        <p>Recipe: {{model.recipeAuthor.recipeNumber}}</p>
                                        <p>Followed by: {{model.recipeAuthor.followBy.length}}</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Review Modal -->
    <div class="modal fade" id="changeReviewModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Comment</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Comment Title:</label>
                            <br/>
                            <input type="text" class="form-control" placeholder="Comment Title" ng-model="model.currComment.title"/>
                        </div>
                        <div class="form-group">
                            <span class="star-rating">
                                <input type="radio" ng-model="model.currComment.rating" value="1"><i></i>
                                <input type="radio" ng-model="model.currComment.rating" value="2"><i></i>
                                <input type="radio" ng-model="model.currComment.rating" value="3"><i></i>
                                <input type="radio" ng-model="model.currComment.rating" value="4"><i></i>
                                <input type="radio" ng-model="model.currComment.rating" value="5"><i></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Comment Content:</label>
                            <br/>
                            <textarea class="form-control" placeholder="Comment Content" ng-model="model.currComment.content"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" data-dismiss="modal" ng-click="model.clearCurrComment()"
                                    class="btn btn-default btn-block btn-info">Cancel</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" data-dismiss="modal" ng-click="model.updateComment()"
                                    class="btn btn-default btn-block btn-info">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>

</div>


