<div class="col-md-9" ng-controller="EditController">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="women">
                Create and Edit Recipe
            </li>
        </ul>
        <ul class="previous">
            <li><a href="#/home">Back to Previous Page</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <h1>Edit Recipe</h1>
    <br/>
    <form ng-show="model.currRecipeId != null && model.currRecipeId != undefined"
          enctype="multipart/form-data" action="/api/project/recipe/upload" method="post">
        <span>Recipe Photos</span>
        <div class="upload-tool-recipe">
            <label class="custom-file-upload">
                <input type="file" name="myFile" fileread="model.uploadme"/>
                <input class="extraInfoUpload" name="recipeId" ng-model="model.currRecipeId"/>
                <input class="upload-info" type="text" ng-model="model.uploadme.name"/>
                Select
            </label>
            <button class="upload btn-warning" type="submit">Upload</button>
        </div>
    </form>
    <div ng-show="model.currRecipeId != null && model.currRecipeId != undefined" class="preview-tool-recipe" >
            <div class="content_grid">
                <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem" ng-repeat="imgUrl in model.currRecipe.recipeImg">
                    <a href="{{imgUrl}}">
                        <div class="inner_content clearfix">
                            <div class="product_image">
                                <img ng-src="{{imgUrl}}" class="img-responsive" alt=""/>
                                <a class="button item_add item_1" ng-click="model.deleteImage(model.currRecipeId, imgUrl)">
                                    <i class="fa fa-trash fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </div>
    <div class="login-right">
        <form>
            <div class="form-group">
                <span>Recipe Name<label>*</label></span>
                <input type="text" placeholder="Recipe Name" ng-model="model.currRecipe.title" empty-to-null />
            </div>
            <div class="form-group">
                <span>Quick Overview<label>*</label></span>
                <textarea rows="4" placeholder="Please briefly introduce this recipe..."
                          ng-model="model.currRecipe.overview" empty-to-null></textarea>
            </div>
            <div class="form-group">
                <span>Base Liquor<label>*</label></span>
                <div class="delete" ng-repeat="base in model.currRecipe.tag1 track by $index">
                    <input type="text-with-delete" placeholder="Base Liquor {{$index + 1}}"
                           ng-model="model.currRecipe.tag1[$index]" empty-to-null />
                    <input type="delete" ng-click="model.deleteBase($index)" value="Delete" />
                </div>
                <button type="button" ng-click="model.addBase()" class="btn btn-add">Add Base Liquor</button>
            </div>
            <div class="form-group">
                <span>Flavor<label>*</label></span>
                <div class="delete" ng-repeat="flavor in model.currRecipe.tag2 track by $index">
                    <input type="text-with-delete" placeholder="Flavor {{$index + 1}}"
                           ng-model="model.currRecipe.tag2[$index]" empty-to-null />
                    <input type="delete" ng-click="model.deleteFlavor($index)" value="Delete" />
                </div>
                <button type="button" ng-click="model.addFlavor()" class="btn btn-add">Add Flavor</button>
            </div>
            <div class="form-group">
                <span>Skill Level<label>*</label></span>
                <div class="radio">
                    <label for="Beginner">
                        <input type="radio" id="Beginner" ng-model="model.currRecipe.tag3" value="beginner">
                        Beginner
                    </label>
                    <br/>
                    <label for="Intermediate">
                        <input type="radio" id="Intermediate" ng-model="model.currRecipe.tag3" value="intermediate">
                        Intermediate
                    </label>
                    <br/>
                    <label for="Advanced">
                        <input type="radio" id="Advanced" ng-model="model.currRecipe.tag3" value="advanced">
                        Advanced
                    </label>
                </div>
            </div>
            <div class="form-group">
                <span>Ingredients (Liquor)<label>*</label></span>
                <div class="delete" ng-repeat="liquor in model.currRecipe.ingredientSpirit track by $index">
                    <input type="text-with-delete" placeholder="Liquor Indegredient {{$index + 1}}"
                           ng-model="model.currRecipe.ingredientSpirit[$index]" empty-to-null />
                    <input type="delete" ng-click="model.deleteLiquorIngredient($index)" value="Delete">
                </div>
                <button type="button" ng-click="model.addLiquorIngredient()" class="btn btn-add">Add Ingredient (Liquor)</button>
            </div>
            <div class="form-group">
                <span>Ingredients (Other)<label>*</label></span>
                <div class="delete" ng-repeat="other in model.currRecipe.ingredientOther track by $index">
                    <input type="text-with-delete" type="text" placeholder="Other Indegredient {{$index + 1}}"
                           ng-model="model.currRecipe.ingredientOther[$index]" empty-to-null />
                    <input type="delete" ng-click="model.deleteOtherIngredient($index)" value="Delete">
                </div>
                <button type="button" ng-click="model.addOtherIngredient()" class="btn btn-add">Add Ingredient (Other)</button>
            </div>
            <div class="form-group">
                <span>Steps<label>*</label></span>
                <div class="delete" ng-repeat="step in model.currRecipe.step track by $index">
                    <input type="text-with-delete" placeholder="Step {{$index + 1}}"
                           ng-model="model.currRecipe.step[$index]" empty-to-null />
                    <input type="delete" ng-click="model.deleteStep($index)" value="Delete">
                </div>
                <button type="button" ng-click="model.addStep()" class="btn btn-add">Add Step</button>
            </div>
            <a type="login" ng-click="model.saveRecipe(model.currRecipe)">Save</a>
        </form>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
