<div class="col-md-9" ng-controller="RecipeController">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="women">
                Current Recipe
            </li>
        </ul>
        <ul class="previous">
            <li><a href="#/home">Back to Previous Page</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="singel_right">
        <div class="labout span_1_of_a1">
            <div class="flexslider">
                <br>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators" ng-repeat="imgIndex in model.imgIndexes">
                        <li data-target="#myCarousel" data-slide-to={{imgIndex}}
                            ng-class="{'active' : model.currImgIndex == imgIndex}"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active" ng-repeat="recipeImg in model.recipe.recipeImg">
                            <img ng-src={{recipeImg}}>
                        </div>
                    </div>
                </div>
            </div>
            <div class="register-but">
                <form>
                    <a type="submit" href="#/recipe">Add to Favorite</a>
                </form>
            </div>
        </div>
        <div class="cont1 span_2_of_a1 simpleCart_shelfItem">
            <h1>{{model.recipe.title}}</h1>
            <ul class="rating">
                <img class="img-rating" ng-src={{model.recipe.rateImg}}>
                <br/>
                <li><a href="#/recipe_edit">Edit Recipe</a></li>
                <div class="clearfix"></div>
            </ul>
            <br/>
            <h2 class="quick">Quick Overview:</h2>
            <p class="quick_desc">{{model.recipe.overview}}</p>
            <ul class="size">
                <h3>Base: {{model.recipe.tag1.join(",")}}</h3>
                <li></li>
            </ul>
            <ul class="size">
                <h3>Flavor: {{model.recipe.tag2.join(",")}}</h3>
                <li></li>

            </ul>
            <ul class="size">
                <h3>Skill Level: {{model.recipe.tag3}}</h3>
                <li></li>

            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="sap_tabs">
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Ingredients</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Steps</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Reviews</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span>Author</span></li>
                <div class="clear"></div>
            </ul>
            <div class="resp-tabs-container">
                <!-- Tab 1 : Ingredients -->
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                    <div class="facts">
                        <ul class="tab_list">
                            <li ng-repeat="liquor in model.recipe.ingredientSpirit"><p>{{liquor}}</p><a href="#/search" class="api-btn">Where to Buy</a></li>
                            <li ng-repeat="other in model.recipe.ingredientOther"><p>{{other}}</p></li>
                        </ul>
                    </div>
                </div>
                <!-- Tab 2 : Steps -->
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                    <div class="facts">
                        <ul class="tab_list">
                            <li ng-repeat="step in model.recipe.step"><p>{{step}}</p></li>
                        </ul>
                    </div>
                </div>
                <!-- Tab 3 : Comments -->
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                    <ul class="tab_list">
                        <div class="cart-header" ng-repeat="comment in model.comments track by $index">
                            <a class="button close1" ng-show="model.isAdminOrAuthor(model.usersOfComments[$index]._id)"
                               ng-click="model.deleteComment(comment)">Delete</a>
                            <a class="button update"
                               ng-show="model.isAuthor(model.usersOfComments[$index]._id)"
                               data-toggle="modal" data-target="#myModal"
                               ng-click="model.setCurrComment(comment)">Change</a>
                            <div class="cart-sec simpleCart_shelfItem">
                                <div class="cart-item cyc">
                                    <img ng-src={{model.usersOfComments[$index].photo}} class="img-responsive" alt="">
                                </div>
                                <div class="cart-item-info">
                                    <h3><a href="#/profile_public">{{model.usersOfComments[$index].username}}</a></h3>
                                    <ul class="qty">
                                        <p>Recipe: {{model.usersOfComments[$index].recipeNumber}}</p>
                                        <p>Followed by: {{model.usersOfComments[$index].followBy.length}}</p>
                                    </ul>
                                    <img ng-src={{comment.rateImg}} class="img-rating">
                                    <br/>
                                    <div class="delivery">
                                        <p>{{comment.title}}</p>
                                        <p>{{comment.content}}</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="cart-header">
                            <div class="cart-sec simpleCart_shelfItem">
                                <div class="cart-item cyc">
                                    <img src="images/pic10.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="cart-item-info">
                                    <a class="button close1" href="#/recipe">Post</a>
                                    <input type="text" placeholder="title">
                                    <br/>
                                    <img src="images/5-star.png" class="img-rating">
                                    <br/>
                                    <div class="delivery">
                                        <textarea rows="5">Comments...</textarea>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </ul>
                </div>
                <!-- Tab 4 : Author -->
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
                    <ul class="tab_list">
                        <div class="cart-header">
                            <a class="button close1" href="#/recipe">Follow !!!</a>
                            <div class="cart-sec simpleCart_shelfItem">
                                <div class="cart-item cyc">
                                    <img src="images/pic10.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="cart-item-info">
                                    <h3><a href="#/profile_public">Marc Jacobs</a></h3>
                                    <div class="delivery">
                                        <p>Recipe: 10</p>
                                        <p>Followed by: 32</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Comment</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Comment Title:</label>
                            <br/>
                            <input type="text" class="form-control" placeholder="Comment Title" ng-model="model.currComment.title"/>
                        </div>
                        <div class="form-group">
                            <span class="star-rating">
                                <input type="radio" ng-model="model.currComment.rating" value="1"><i></i>
                                <input type="radio" ng-model="model.currComment.rating" value="2"><i></i>
                                <input type="radio" ng-model="model.currComment.rating" value="3"><i></i>
                                <input type="radio" ng-model="model.currComment.rating" value="4"><i></i>
                                <input type="radio" ng-model="model.currComment.rating" value="5"><i></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Comment Content:</label>
                            <br/>
                            <textarea class="form-control" placeholder="Comment Content" ng-model="model.currComment.content"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" data-dismiss="modal" ng-click="model.clearCurrComment()"
                                    class="btn btn-default btn-block btn-info">Cancel</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <button type="button" data-dismiss="modal" ng-click="model.updateComment()"
                                    class="btn btn-default btn-block btn-info">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>