<div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarController">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url().indexOf('home') != -1}"><a href="#/home">Home</a></li>
        <li ng-class="{'active' : $location.url().indexOf('user') != -1}"><a href="#/user">User</a></li>
        <li ng-class="{'active' : $location.url().indexOf('recipe') != -1}"><a href="#/recipe">Recipe</a></li>
        <li ng-class="{'active' : $location.url().indexOf('comment') != -1}"><a href="#/comment">Comment</a></li>
    </ul>
</div>
