<div class="col-md-9" ng-controller="InfoController">
    <div class="register">
        <form enctype="multipart/form-data" action="/api/project/profile_pic_upload" method="post">
            <h3>Profile Photo</h3>
            <div class="upload-tool">
                <label class="custom-file-upload">
                    <input type="file" name="myFile" fileread="model.uploadme"/>
                    <input class="upload-info" type="text" ng-model="model.uploadme.name"/>
                    Select
                </label>
                <button class="upload btn-warning" type="submit">Upload</button>
            </div>
        </form>
        <div class="preview-tool">
            <div class="preview-img" ng-repeat="file in model.files">
            <img class="preview" ng-src="../../uploads/{{file.name}}"/>
            </div>
        </div>
        <form>
            <div class="register-top-grid">
                <h3>PERSONAL INFORMATION</h3>
                <div>
                    <span>First Name<label>*</label></span>
                    <input type="text" placeholder="First Name" ng-model="model.user.firstName">
                </div>
                <div>
                    <span>Last Name<label>*</label></span>
                    <input type="text" placeholder="Last Name" ng-model="model.user.lastName">
                </div>
                <div>
                    <span>Email Address<label>*</label></span>
                    <input type="email" placeholder="Email Address" ng-model="model.user.email">
                </div>
                <div>
                    <span>Birthday</span>
                    <input type="date" placeholder="Birthday" ng-model="model.user.birthday">
                </div>
                <div>
                    <span>Gender</span>
                    <div class="radio">
                        <label for="radioMale">
                            <input type="radio" name="radioLicense" id="radioMale" value="Male" ng-model="model.user.gender">
                            Male
                        </label>
                        <label for="radioFemale">
                            <input type="radio" name="radioLicense" id="radioFemale" value="Female" ng-model="model.user.gender">
                            Female
                        </label>
                    </div>
                </div>
                <div>
                    <span>Self Introduction</span>
                    <textarea rows="5" placeholder="Tell others anything about your self..." ng-model="model.user.intro"></textarea>
                </div>
            </div>
            <br/>
            <div class="register-top-grid">
                <h3>LOGIN INFORMATION</h3>
                <div>
                    <span>Username<label>*</label></span>
                    <input type="text" placeholder="Username" ng-model="model.user.username">
                </div>
                <div>
                    <span>Password<label>*</label></span>
                    <input type="password" placeholder="Pasword" ng-model="model.user.password">
                </div>
            </div>
        </form>
        <div class="clearfix"> </div>
        <div class="register-but">
            <form>
                <a type="submit" ng-click="model.update(model.user)">Update</a>
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
</div>
