<div class="col-md-9" ng-controller="PublicController">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="women">
                View User
            </li>
        </ul>
        <ul class="previous">
            <li><a href="#/home">Back to Previous Page</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="singel_right">
        <div class="labout span_1_of_a1">
            <div class="flexslider">
                <br/>
                <img ng-show="model.visitUser.photo != null && model.visitUser.photo != undefined"
                     ng-src="{{model.visitUser.photo}}" alt="">
                <img ng-show="model.visitUser.photo == null || model.visitUser.photo == undefined"
                     ng-src="./images/head.jpg" alt="">
            </div>
        </div>
        <div class="cont1 span_2_of_a1 simpleCart_shelfItem">
            <div class="row">
                <h1>{{model.visitUser.username}}
                    <a ng-hide="model.cannotFollow(model.visitUserId)"
                       ng-click="model.followUser(model.currUser._id, model.visitUserId)">
                    <span class="follow-icon glyphicon glyphicon-star-empty"
                          aria-hidden="true">Follow</span>
                    </a>
                    <a ng-show="model.canUnfollow(model.visitUserId)"
                       ng-click="model.unfollowUser(model.currUser._id, model.visitUserId)">
                    <span class="follow-icon glyphicon glyphicon-star"
                          aria-hidden="true">Followed!</span>
                    </a>
                </h1>
            </div>
            <ul class="size">
                <li>Recipes: {{model.myRecipes.length}}</li>
                <li>Follow By: {{model.visitUser.followBy.length}}</li>
            </ul>
            <br/>
            <h2 class="quick">About Me:</h2>
            <p class="quick_desc">{{model.visitUser.intro}}</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <br/>
    <div class="sap_tabs">
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Recipes</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Favorite</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Following</span></li>
                <div class="clear"></div>
            </ul>
            <div class="resp-tabs-container">
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                    <div class="cbp-vm-view-grid">
                        <ul>
                            <li ng-repeat="recipe in model.myRecipes">
                                <a class="cbp-vm-image" href="#/recipe/{{recipe._id}}">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img ng-show="recipe.recipeImg.length > 0"
                                                 ng-src="{{recipe.recipeImg[0]}}" class="img-responsive" alt=""/>
                                            <img ng-show="recipe.recipeImg.length <= 0"
                                                 ng-src="./images/cocktail.jpg" class="img-responsive" alt=""/>
                                            <div class="product_container">
                                                <div class="cart-left">
                                                    <p class="title">{{recipe.title}}</p>
                                                </div>
                                                <br/>
                                                <span><img ng-src="{{recipe.rateImg}}" class="img-rating" alt=""/></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                    <div class="cbp-vm-view-grid">
                        <ul>
                            <li ng-repeat="recipe in model.likedRecipes">
                                <a class="cbp-vm-image" href="#/recipe/{{recipe._id}}">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img ng-show="recipe.recipeImg.length > 0"
                                                 ng-src="{{recipe.recipeImg[0]}}" class="img-responsive" alt=""/>
                                            <img ng-show="recipe.recipeImg.length <= 0"
                                                 ng-src="./images/cocktail.jpg" class="img-responsive" alt=""/>
                                            <div class="product_container">
                                                <div class="cart-left">
                                                    <p class="title">{{recipe.title}}</p>
                                                </div>
                                                <br/>
                                                <span><img ng-src="{{recipe.rateImg}}" class="img-rating" alt=""/></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                    <br/>
                    <div class="cart-header" ng-repeat="user in model.followedUsers">
                        <a class="button close1" ng-hide="model.cannotFollow(user._id)"
                           ng-click="model.followRecipeAuthor(model.currUser._id, user._id)">Follow !!!</a>
                        <a class="button close1" ng-show="model.canUnfollow(user._id)"
                           ng-click="model.unfollowRecipeAuthor(model.currUser._id, user._id)">Unfollow</a>
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img ng-show="user.photo == null || user.photo == undefined"
                                     ng-src="{{user.photo}}" class="img-responsive" alt="">
                                <img ng-show="user.photo != null && user.photo != undefined"
                                     ng-src="./images/head.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="cart-item-info">
                                <h3><a href="#/profile_public/{{user._id}}">{{user.username}}</a></h3>
                                <div class="delivery">
                                    <p>Recipe: {{user.recipeNumber}}</p>
                                    <p>Followed by: {{user.followBy.length}}</p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>