<div class="col-md-9" ng-controller="FavoriteController">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="home">
                <a href="#/profile_info" title="Go to Home Page">Profile</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="women">
                Favorite
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <h3>Favorite Recipes</h3>
    <div class="cbp-vm-view-grid">
        <ul>
            <li ng-repeat="likedRecipe in model.likedRecipes">
                <a class="cbp-vm-image" href="#/recipe/{{likedRecipe._id}}">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img ng-hide="model.noPic(likedRecipe.recipeImg)"
                                 ng-src="{{likedRecipe.recipeImg[0]}}" class="img-responsive" alt=""/>
                            <img ng-show="model.noPic(likedRecipe.recipeImg)"
                                 ng-src="./images/cocktail.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">{{likedRecipe.title}}</p>
                                </div>
                                <br/>
                                <span>
                                    <img ng-src="{{likedRecipe.rateImg}}" class="img-rating title-rating" alt=""/>
                                    <a class="button cbp-vm-add" ng-click="model.unlikeRecipe(likedRecipe)">
                                        <i class="fa fa-remove fa-lg"></i>
                                    </a>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
