<div class="col-xs-12 col-md-9 cart-items" ng-controller="FollowingController">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="home">
                <a href="#/profile_public" title="Go to Home Page">Profile</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="women">
                Following
            </li>
        </ul>
        <ul class="previous">
            <li><a href="#/profile_public">Back to Previous Page</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <h1>Following</h1>
    <div class="cart-header">
        <a class="button close1" href="#/profile_following">Delete</a>
        <div class="cart-sec simpleCart_shelfItem">
            <div class="cart-item cyc">
                <img src="images/pic10.jpg" class="img-responsive" alt="">
            </div>
            <div class="cart-item-info">
                <h3><a href="#/profile_public">Marc Jacobs</a></h3>
                <div class="delivery">
                    <p>Recipe: 10</p>
                    <p>Followed by: 32</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="cart-header">
        <a class="button close1" href="#/profile_following">Delete</a>
        <div class="cart-sec simpleCart_shelfItem">
            <div class="cart-item cyc">
                <img src="images/pic11.jpg" class="img-responsive" alt="">
            </div>
            <div class="cart-item-info">
                <h3><a href="#/profile_public">Coco Chanel</a></h3>
                <div class="delivery">
                    <p>Recipe: 16</p>
                    <p>Followed by: 45</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>