<div class="col-xs-12 col-md-9 cart-items" ng-controller="ReviewedController">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="home">
                <a href="#/profile_info" title="Go to Home Page">Profile</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="women">
                Reviewed
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <h1>Recipe Reviewed</h1>
    <div class="cart-header" ng-repeat="comment in model.comments">
        <a class="button close1" ng-click="model.deleteComment(comment)"><i class="fa fa-remove fa-lg"></i></a>
        <a class="button update" ng-click="model.updateComment(comment)"><i class="fa fa-send fa-lg"></i></a>
        <div class="cart-sec simpleCart_shelfItem">
            <hr>
            <div class="cart-item cyc">
                <img ng-src="{{comment.recipeImg}}" class="img-responsive" alt="">
            </div>
            <div class="cart-item-info">
                <div class="delivery">
                <a href="#/recipe/{{comment.recipeId}}">{{comment.recipeTitle}}</a>
                </div>
                <span class="star-rating">
                    <input type="radio" ng-model="comment.rating" value="1"><i></i>
                    <input type="radio" ng-model="comment.rating" value="2"><i></i>
                    <input type="radio" ng-model="comment.rating" value="3"><i></i>
                    <input type="radio" ng-model="comment.rating" value="4"><i></i>
                    <input type="radio" ng-model="comment.rating" value="5"><i></i>
                </span>
                <br/>
                <div class="delivery">
                    <input placeholder="CommentTitle" ng-model="comment.title" empty-to-null />
                </div>
                <div class="delivery">
                    <textarea rows="4" placeholder="CommentContent" ng-model="comment.content" empty-to-null ></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>