<div class="col-md-9" ng-controller="MyRecipeController">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="home">
                <a href="#/profile_info" title="Go to Home Page">Profile</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="women">
                My Recipe
            </li>
        </ul>
        <ul class="previous">
            <li><a href="#/profile_info">Back to Previous Page</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="cbp-vm-view-grid">
        <ul>
            <li ng-repeat="recipe in model.recipes">
                <a class="cbp-vm-image" href="#/recipe/{{recipe._id}}">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img ng-src={{recipe.titleImg}} class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">{{recipe.title}}</p>
                                </div>
                                <br/>
                                <span><img ng-src={{recipe.rateImg}} class="img-rating" alt=""/></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="button cbp-vm-add" href="#/recipe_edit">Edit</a>
                <a class="button cbp-vm-add" ng-click="model.deleteRecipe(recipe)">Delete</a>
            </li>
        </ul>
    </div>
</div>