<div class="col-md-9" ng-controller="MyRecipeController">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="#/home" title="Go to Home Page">Home</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="home">
                <a href="#/profile_info" title="Go to Home Page">Profile</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li class="women">
                My Recipe
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <h3>My Recipes</h3>
    <div class="cbp-vm-view-grid">
        <ul>
            <li ng-repeat="recipe in model.recipes">
                <a class="cbp-vm-image" href="#/recipe/{{recipe._id}}">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img ng-hide="model.noPic(recipe.recipeImg)"
                                 ng-src="{{recipe.recipeImg[0]}}" class="img-responsive" alt=""/>
                            <img ng-show="model.noPic(recipe.recipeImg)"
                                 ng-src="./images/cocktail.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">{{recipe.title}}</p>
                                </div>
                                <br/>
                                <span>
                                    <img ng-src="{{recipe.rateImg}}" class="img-rating title-rating" alt=""/>
                                    <a class="button cbp-vm-add" href="#/recipe_edit/{{recipe._id}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="button cbp-vm-add" ng-click="model.deleteRecipe(recipe)">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>