<div class="col-md-3" ng-controller="SidebarController as model">
    <div class="menu_box">
        <h3 class="menu_head">Menu</h3>
        <ul class="nav">
            <li class="side-search">
                <a ng-hide="model.isProfileOrAdmin()" ng-click="model.searchTags()"
                   data-parent="#wrap" data-toggle="collapse" data-target=".in">
                    <i class="fa fa-search fa-lg"></i>Submit
                </a>
            </li>
            <div id="wrap">
            <li><a data-toggle="collapse" data-target="#acrdn1"
                   ng-hide="model.isProfileOrAdmin()">Liquor</a></li>
            <div id="acrdn1" class="collapse">
                <div class="checkbox">
                    <label ng-repeat="base in model.tag1">
                        <input type="checkbox" ng-model="model.pushTag1[base.value]">{{base.value}}
                    </label>
                </div>
            </div>
            <li><a data-toggle="collapse" data-target="#acrdn2"
                   ng-hide="model.isProfileOrAdmin()">Flavor</a></li>
            <div id="acrdn2" class="collapse">
                <div class="checkbox">
                    <label ng-repeat="flavor in model.tag2">
                        <input type="checkbox" ng-model="model.pushTag2[flavor.value]">{{flavor.value}}
                    </label>
                </div>
            </div>
            <li><a data-toggle="collapse" data-target="#acrdn3"
                   ng-hide="model.isProfileOrAdmin()">Skill Level</a></li>
            <div id="acrdn3" class="collapse">
                <div class="checkbox">
                    <label ng-repeat="level in model.tag3">
                        <input type="checkbox" ng-model="model.pushTag3[level.value]">{{level.value}}
                    </label>
                </div>
            </div>
            </div>
            <li ng-class="{'active' : model.$location.url() == '/profile_info'}">
                <a href="#/profile_info" ng-show="model.isProfile()">Profile</a>
            </li>
            <li ng-class="{'active' : model.$location.url() == '/profile_myrecipe'}">
                <a href="#/profile_myrecipe" ng-show="model.isProfile()">My Recipe</a>
            </li>
            <li ng-class="{'active' : model.$location.url() == '/profile_reviewed'}">
                <a href="#/profile_reviewed" ng-show="model.isProfile()">Reviewed</a>
            </li>
            <li ng-class="{'active' : model.$location.url() == '/profile_favorite'}">
                <a href="#/profile_favorite" ng-show="model.isProfile()">Favorite</a>
            </li>
            <li ng-class="{'active' : model.$location.url() == '/profile_following'}">
                <a href="#/profile_following" ng-show="model.isProfile()">Following</a>
            </li>
            <li ng-class="{'active' : model.$location.url() == '/admin_user'}">
                <a href="#/admin_user" ng-show="model.isAdmin()">Manage<br/>Users</a>
            </li>
            <li ng-class="{'active' : model.$location.url() == '/admin_recipe'}">
                <a href="#/admin_recipe" ng-show="model.isAdmin()">Manage<br/>Recipes and Comments</a>
            </li>
        </ul>
    </div>
</div>
