<div class="container-fluid" ng-controller="AdminController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Admin</h1>
            <h2>Users</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr class="info">
                        <th class="col-xs-2 col-sm-2">
                            <span class="glyphicon glyphicon-triangle-top"
                                  ng-show="model.isTopUsername()" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-triangle-bottom"
                                  ng-show="model.isBottomUsername()" aria-hidden="true"></span>
                            <a class="btn btn-link btn-admin" ng-click="model.order('username')">
                                Username
                            </a>
                        </th>
                        <th class="col-xs-2 col-sm-2">
                            <a class="btn btn-link btn-admin">
                                Password
                            </a>
                        </th>
                        <th class="col-xs-2 col-sm-2">
                            <span class="glyphicon glyphicon-triangle-top"
                                  ng-show="model.isTopFirstName()" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-triangle-bottom"
                                  ng-show="model.isBottomFirstName()" aria-hidden="true"></span>
                            <a class="btn btn-link btn-admin" ng-click="model.order('firstName')">
                                First Name
                            </a>
                        </th>
                        <th class="col-xs-2 col-sm-2">
                            <span class="glyphicon glyphicon-triangle-top"
                                  ng-show="model.isTopLastName()" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-triangle-bottom"
                                  ng-show="model.isBottomLastName()" aria-hidden="true"></span>
                            <a class="btn btn-link btn-admin" ng-click="model.order('lastName')">
                                Last Name
                            </a>
                        </th>
                        <th class="col-xs-2 col-sm-2">
                            <a class="btn btn-link btn-admin">
                                Role
                            </a>
                        </th>
                        <th class="col-xs-2 col-sm-2">
                            <a class="btn btn-link btn-admin">
                                Actions
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th><input type="text" ng-model="model.selectedUser.username"
                                   class="form-control" placeholder="username" empty-to-null/></th>
                        <th><input type="password" ng-model="model.selectedUser.password"
                                   class="form-control" placeholder="password" empty-to-null/></th>
                        <th><input type="text" ng-model="model.selectedUser.firstName"
                                   class="form-control" placeholder="first name" empty-to-null/></th>
                        <th><input type="text" ng-model="model.selectedUser.lastName"
                                   class="form-control" placeholder="last name" empty-to-null/></th>
                        <th><input type="text" ng-model="model.newUserRoles"
                                   class="form-control" placeholder="role1,role2" empty-to-null/></th>
                        <th>
                            <div class="the-div row">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-link">
                                        <span class="glyphicon glyphicon-plus"
                                              ng-click="model.addUser(model.selectedUser)" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-link">
                                        <span class="glyphicon glyphicon-ok"
                                              ng-click="model.updateUser(model.selectedUser)" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in model.users | orderBy:model.predicate:model.reverse">
                        <td>{{user.username}}</td>
                        <td><p class="admin-pwd">{{user.password}}</p></td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.roles.join(",")}}</td>
                        <td>
                            <div class="the-div row">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-link">
                                        <span class="glyphicon glyphicon-remove"
                                              ng-click="model.deleteUser($index)" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-link">
                                        <span class="glyphicon glyphicon-cog"
                                              ng-click="model.selectUser($index)" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>