<div class="container-fluid" ng-controller="ProfileController as model">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Profile</h1>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputUsername1" class="col-sm-2 control-label">Username:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUsername1" placeholder="Username" ng-model="model.user.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1" class="col-sm-2 control-label">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword1" placeholder="Password" ng-model="model.user.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName1" class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName1" placeholder="First Name" ng-model="model.user.firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName2" class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName2" placeholder="Last Name" ng-model="model.user.lastName">
                        </div>
                    </div>
                    <div class="form-group" ng-repeat="email in model.user.emails track by $index">
                        <label class="col-sm-2 control-label">Email {{$index + 1}}:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="Email {{$index + 1}}" aria-describedby="basic-addon1"
                                       ng-model="model.user.emails[$index]" empty-to-null />
                                <span class="input-group-addon" id="basic-addon1"
                                      ng-click="model.deleteEmail($index)">Delete</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" ng-click="model.addEmail()"
                                    class="btn btn-info btn-block">Add Email</button>
                        </div>
                    </div>
                    <div class="form-group" ng-repeat="email in model.newEmails track by $index">
                        <label class="col-sm-2 control-label">New Email {{$index + 1}}:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="New Email {{$index + 1}}" aria-describedby="basic-addon2"
                                       ng-model="model.newEmails[$index]" empty-to-null />
                                <span class="input-group-addon" id="basic-addon2"
                                      ng-click="model.deleteNewEmail($index)">Delete</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-repeat="phone in model.user.phones track by $index">
                        <label class="col-sm-2 control-label">Phone {{$index + 1}}:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="Phone {{$index + 1}}" aria-describedby="basic-addon3"
                                       ng-model="model.user.phones[$index]" empty-to-null />
                                <span class="input-group-addon" id="basic-addon3"
                                      ng-click="model.deletePhone($index)">Delete</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" ng-click="model.addPhone()"
                                    class="btn btn-info btn-block">Add Phone</button>
                        </div>
                    </div>
                    <div class="form-group" ng-repeat="newPhone in model.newPhones track by $index">
                        <label class="col-sm-2 control-label">New Phone {{$index + 1}}:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="New Phone {{$index + 1}}" aria-describedby="basic-addon4"
                                       ng-model="model.newPhones[$index]" empty-to-null />
                                <span class="input-group-addon" id="basic-addon4"
                                      ng-click="model.deleteNewPhone($index)">Delete</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" ng-click="model.update(model.user)"
                                    class="btn btn-primary btn-block">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>