<div class="col-md-9" ng-controller="HomeController">
    <h3 class="m_1">Top Rated</h3>
    <div class="content_grid">
        <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
            <a href="#/recipe">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="images/pic1.jpg" class="img-responsive" alt=""/>
                        <a href="" class="button item_add item_1"> </a>
                        <div class="product_container">
                            <div class="cart-left">
                                <p class="title">Chocolate Martini</p>
                            </div>
                            <br/>
                            <span><img src="images/5-star.png" class="img-rating" alt=""/></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
            <a href="#/recipe">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="images/pic2.jpg" class="img-responsive" alt=""/>
                        <a href="" class="button item_add item_1"> </a>
                        <div class="product_container">
                            <div class="cart-left">
                                <p class="title">Banana Cinnamon Mojito</p>
                            </div>
                            <br/>
                            <span><img src="images/5-star.png" class="img-rating" alt=""/></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="sale-box1"><span class="on_sale1 title_shop">New</span></div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem last_1">
            <a href="#/recipe">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="images/pic3.jpg" class="img-responsive" alt=""/>
                        <a href="" class="button item_add item_1"> </a>
                        <div class="product_container">
                            <div class="cart-left">
                                <p class="title">Ginger Black Spiced</p>
                            </div>
                            <br/>
                            <img src="images/4&half-star.png" class="img-rating" alt=""/>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="content_grid">
        <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
            <a href="#/recipe">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="images/pic4.jpg" class="img-responsive" alt=""/>
                        <a href="" class="button item_add item_1"> </a>
                        <div class="product_container">
                            <div class="cart-left">
                                <p class="title">Puquena Colada</p>
                            </div>
                            <br/>
                            <span><img src="images/4&half-star.png" class="img-rating" alt=""/></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
            <a href="#/recipe">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="images/pic5.jpg" class="img-responsive" alt=""/>
                        <a href="" class="button item_add item_1"> </a>
                        <div class="product_container">
                            <div class="cart-left">
                                <p class="title">Sunday Funday</p>
                            </div>
                            <br/>
                            <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem last_1">
            <a href="#/recipe">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="images/pic6.jpg" class="img-responsive" alt=""/>
                        <a href="" class="button item_add item_1"> </a>
                        <div class="product_container">
                            <div class="cart-left">
                                <p class="title">Classic Cosmo</p>
                            </div>
                            <br/>
                            <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="content_grid">
        <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
            <a href="#/recipe">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="images/pic7.jpg" class="img-responsive" alt=""/>
                        <a href="" class="button item_add item_1"> </a>
                        <div class="product_container">
                            <div class="cart-left">
                                <p class="title">Razz Sangria</p>
                            </div>
                            <br/>
                            <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
            <a href="#/recipe">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="images/pic8.jpg" class="img-responsive" alt=""/>
                        <a href="" class="button item_add item_1"> </a>
                        <div class="product_container">
                            <div class="cart-left">
                                <p class="title">Peach Tea</p>
                            </div>
                            <br/>
                            <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col_1_of_3 span_1_of_3 simpleCart_shelfItem">
            <a href="#/recipe">
                <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="images/pic9.jpg" class="img-responsive" alt=""/>
                        <a href="" class="button item_add item_1"> </a>
                        <div class="product_container">
                            <div class="cart-left">
                                <p class="title">Long Island Ice Tea</p>
                            </div>
                            <br/>
                            <span><img src="images/4-star.png" class="img-rating" alt=""/></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
