<div class="col-md-9" ng-controller="HomeController">
    <div class="cbp-vm-view-grid">
        <ul>
            <li ng-repeat="recipe in model.recipes">
                <a class="cbp-vm-image" href="#/recipe/{{recipe._id}}">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img ng-show="recipe.recipeImg.length > 0"
                                 ng-src={{recipe.recipeImg[0]}} class="img-responsive" alt=""/>
                            <img ng-show="recipe.recipeImg.length <= 0"
                                 ng-src="./images/cocktail.jpg" class="img-responsive" alt=""/>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">{{recipe.title}}</p>
                                </div>
                                <br/>
                                <span><img ng-src="{{recipe.rateImg}}" class="img-rating" alt=""/></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
