<div class="container-fluid" ng-controller="UserController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Recipe</h1>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tabForms">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr class="info">
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Email</th>
                                        <th>Birthday</th>
                                        <th>Roles</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <input type="text" class="form-control" placeholder="First Name" ng-model="newUser.firstName" />
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" placeholder="Last Name" ng-model="newUser.lastName" />
                                        </th>
                                        <th>
                                            <input type="text" class="form-control" placeholder="Username" ng-model="newUser.username" />
                                        </th>
                                        <th>
                                            <input type="password" class="form-control" placeholder="password" ng-model="newUser.password" />
                                        </th>
                                        <th>
                                            <input type="email" class="form-control" placeholder="email" ng-model="newUser.email" />
                                        </th>
                                        <th>
                                            <input type="date" class="form-control" placeholder="birthday" ng-model="newUser.birthday" />
                                        </th>
                                        <th>
                                            <label>Admin
                                            <input type="checkbox" class="form-control" ng-model="newUser.admin"/>
                                            </label>
                                            <label>User
                                            <input type="checkbox" class="form-control" ng-model="newUser.user"/>
                                            </label>
                                        </th>
                                        <th>
                                            <div class="the-div row">
                                                <div>
                                                    <div class="btn-group">

                                                        <button type="button" class="btn btn-link" ng-click="createUser()">
                                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-link" ng-click="updateUser()">
                                                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="user in users">
                                        <td>{{user.firstName}}</td>
                                        <td>{{user.lastName}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.password}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.birthday | date: "yyyy-MM-dd"}}</td>
                                        <td>{{user.roles.join('/')}}</td>
                                        <td>
                                            <div class="the-div row">
                                                <div>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-link" ng-click="deleteUser($index)">
                                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-link" ng-click="selectUser($index)">
                                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

