<div class="header" ng-controller="HeaderController as model">
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <a href="#/home"><img src="images/logo.png" alt=""/></a>
            </div>
            <div class="header_right">
                <ul class="social">
                    <li ng-class="{'active' : model.$location.url() == '/register'}"
                        ng-hide="model.isLoggedIn()">
                        <a href="#/register">Register</a>
                    </li>
                    <li ng-class="{'active' : model.$location.url() == '/login'}"
                        ng-hide="model.isLoggedIn()">
                        <a href="#/login">Login</a>
                    </li>
                    <li ng-class="{'active' : model.$location.url().indexOf('profile') > 0}"
                        ng-show="model.isLoggedIn()">
                        <a href="#/profile_info">{{model.getCurrentUsername()}}</a>
                    </li>
                    <li ng-class="{'active' : model.$location.url().indexOf('admin') > 0}"
                        ng-show="model.isAdmin()">
                        <a href="#/admin_user">Admin</a>
                    </li>
                    <li ng-show="model.isLoggedIn()">
                        <a ng-click="model.logout()">Logout</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="banner_wrap">
            <div class="bannertop_box">
                <div class="search">
                    <input type="text" value="Search" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search';}">
                    <a href="#/local_search"><input type="submit" value=""></a>
                </div>
                <div class="welcome_box">
                    <h2>Welcome to OurBar</h2>
                    <p>share recipe and enjoy</p>
                </div>
            </div>
            <div class="banner_right">
                <h1>Cocktail Recipes</h1>
                <p>Thirsty? We have tons of delicious cocktail recipes from cocktail-lovers around the world. No matter if you're looking for a classic cocktail, or a punch for a party, we have a cocktail recipe for you. What are you waiting for? Start mixing!</p>
            </div>
        </div>
    </div>
</div>